/tests
/src/tests
*.config
*.creator
*.files
*.includes
.settings/
.cproject
.project
.idea/
precompiled/*.h
install_manifest.txt
CMakeCache.txt
CMakeFiles/
Testing/
cmake_install.cmake
CTestTestfile.cmake
riak-c
Makefile
.DS_Store
*.zip
*.tar.gz
*.dylib
/*.sln
*.so
*.a
*.o
*.obj
*.pdb
*.user
*.aps
*.dll
*.pch
*.vspscc
*.vssscc
*.vcproj
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.lo
*.sdf
*.opensdf
*.xcuserstate
/*.vcxproj
*.filters
[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
_ReSharper*/
[Tt]humbs.db
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*.resharper
ipch/
