tests
.settings/
.cproject
.project
install_manifest.txt
CMakeCache.txt
CMakeFiles/
Testing/
cmake_install.cmake
CTestTestfile.cmake
riak-c
Makefile
.DS_Store
/*.dylib
/*.sln
/*.so
*.a
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
/*.lib
*.sbr
*.scc
*.sdf
*.opensdf
*.vcxproj
*.filters
[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
_ReSharper*/
[Tt]humbs.db
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*.resharper
